*{
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.logo{
  font-family: 'Sacramento', sans-serif;
}
.titulos{
  font-family: 'Raleway', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-size: 400%
}
.colorA{
  color: #34495e;
}
.btn-flax{
  font-size: 4vh;
}
/*seccion presentacion*/
.presentacion{
  margin-top: 15vh;
}
.presentacionTitulo{
  font-family: 'Clicker Script', sans-serif;
  font-size: 500%;
  color: #2c3e50;
}
.letterDrop {
  font-family: 'Clicker Script', sans-serif;
  position: relative;
  display: inline-block;
  opacity: 0.8;
  transform: rotateX(-90deg);
  animation: letterDrop 1.2s ease 1 normal forwards;
}
@keyframes letterDrop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
    }
}
span:nth-child(2n) {
  color: #34495e;
}
span:nth-child(-n+4) {
  color: #c0392b;
}
.subtituloPresentacion{
-webkit-animation-duration: 1s;
-webkit-animation-delay: 2.5s;
}
.fadeIn{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 3.5s;
}
/*acerca de mi*/
.sobreMi .habilidades{
  min-height: 100vh;
  margin-top: 10vh;
  min-height: 100vh;
}
.espacioSM{
  margin-top: 10vh;
}
.espacioSM2{
  margin-top: 30vh;
}
/*contacto-footer*/
.contacto{
  min-height: 25vh;
}
/*seccion habilidades- skills*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom: 3vh;
	width:100%;
	background: #ffffff;
	height:5vh;
	border-radius:3vh;
}
.skillbar-title {
	position:absolute;
  color: #34495e;
	top:0;
	left:0;
  width: 23vh;
	font-weight:bold;
	font-size: 3vh;
}
.skillbar-title span {
  color: black;
	display:block;
	padding:0 2vh;
	height: 6vh;
	line-height:7vh;
}
.skillbar-bar {
	height: 6vh;
	width: 0;
	border-radius:3px;
}
.skill-bar-percent {
	position:absolute;
	right: 2vh;
	top:0;
	font-size: 3vh;
	height: 7vh;
	line-height: 7vh;
}
/*seccion proyectos*/
#proyectos{
  padding: 4%;
  background-color: #fff;
}
.contenedores{
  width: 95%;
  height: 320px;
}
