<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Sacramento|Clicker+Script|Poiret+One|Dancing+Script|Raleway">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body> <!-- seccion menu horizontal-->
    <section>
      <nav class="white">
        <div class="container">
          <div class="nav-wrapper">
            <!-- <a href="#!" class="brand-logo">A.G.</a> -->
            <a href="../index.html" class="left align brand-logo hide-on-med-only	hide-on-small-only"><i class="logo colorA">Elsa Garnica</i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#c62828">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="red-text darken-3" href="aboutMe.html">Acerca de mí</a></li>
              <li><a class="red-text darken-3" href="habilidades.html">Habilidades</a></li>
              <li><a class="red-text darken-3" href="proyectos.html">Proyectos</a></li>
            </ul>
            <ul class="side-nav text-red darken-3" id="mobile-demo"> <!-- seccion menu mobile -->
              <li><a class="red-text" href="aboutMe.html">Acerca de mí</a></li>
              <li><a class="red-text" href="habilidades.html">Habilidades</a></li>
              <li><a class="red-text" href="proyectos.html">Proyectos</a></li>
            </ul>
            <a href="../index.html" class="right align brand-logo hide-on-large-only"><i class="logo colorA">Elsa Garnica</i></a>
          </div>
        </div>
      </nav>
    </section>
    <section class="container sobreMi"> <!--seccion acerca de mi  -->
      <div class="row">
        <div class="col s12 m12 l12 center">
          <h2 class="titulos col s12 espacioSM red-text darken-3">Acerca de mí</h2>
          <h4 class="col s12 colorA"> Analítica, autodidacta y creativa, apasionada por el constante aprendizaje que me permita desarrollar mis habilidades, asumir nuevos retos y contribuir profesionalmente en la evolución del sector tecnológico.</h4>
          <div class="col s12">
            <a href="https://drive.google.com/file/d/0B83sRKfgGpmUSDBfUnVnN080NEU/view?usp=sharing" class="btn white red-text darken-3 btn-large espacioSM" target="_blank"></i>Descarga mi CV</a>
            <div class="sobreMi espacioSM"></div>
          </div>
        </div>
      </section>
      <footer class="center contacto"> <!--seccion contacto responsive -->
        <span><a href="https://github.com/AndyGarnica" target="new_blank"><i class="fa fa-github fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
        <span><a href="https://www.linkedin.com/in/elsa-andrea-garnica-reyes-854362146" target="new_blank"><i class="fa fa-linkedin fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
        <span><a href="https://api.whatsapp.com/send?phone=5549692539" target="new_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="+52 1 55 49 69 25 39"><i class="fa fa-whatsapp fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
        <span><a href="mailto: es.elsagarnica@gmail.com" target="new_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="es.elsagarnica@gmail.com"><i class="fa fa-envelope-o fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      </footer>
      <script src="../js/jquery-3.2.1.min.js"></script>
      <script src="../js/materialize.min.js"></script>
      <script src="../js/main.js"></script>
    </body>
  </html>
