<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andrea Garnica</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Sacramento|Clicker+Script|Poiret+One|Dancing+Script|Raleway">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="">
    <!-- seccion menu horizontal-->
    <section>
      <nav class="white">
        <div class="container">
          <div class="nav-wrapper">
            <!-- <a href="#!" class="brand-logo">A.G.</a> -->
            <a href="../index.html" class="left align brand-logo hide-on-med-only	hide-on-small-only"><i class="logo colorA">Elsa Garnica</i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#c62828">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="red-text darken-3" href="aboutMe.html">Acerca de mí</a></li>
              <li><a class="red-text darken-3" href="habilidades.html">Habilidades</a></li>
              <li><a class="red-text darken-3" href="proyectos.html">Proyectos</a></li>
              <!-- seccion menu mobile -->
            </ul>
            <ul class="side-nav text-red darken-3" id="mobile-demo">
              <li><a class="red-text" href="aboutMe.html">Acerca de mí</a></li>
              <li><a class="red-text" href="habilidades.html">Habilidades</a></li>
              <li><a class="red-text" href="proyectos.html">Proyectos</a></li>
            </ul>
            <a href="../index.html" class="right align brand-logo hide-on-large-only"><i class="logo colorA">Elsa Garnica</i></a>
          </div>
        </div>
      </nav>
    </section>
    <!--seccion habilidades con jquery y css-->
    <section class="container">
      <div class="row habilidades">
        <h2 class="center col s12 m12 titulos colorA">Habilidades</h2>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title"><span>HTML5</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">AVANZADO</div>
        </div>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title"><span>CSS3</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">AVANZADO</div>
        </div>
        <div class="skillbar clearfix " data-percent="50%">
          <div class="skillbar-title"><span>JavaScript</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">BÁSICO</div>
        </div>
        <div class="skillbar clearfix " data-percent="50%">
          <div class="skillbar-title"><span>jQuery</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">BÁSICO</div>
        </div>
        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title"><span>Bootstrap</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">INTERMEDIO</div>
        </div>
        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title"><span>Materialize</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">INTERMEDIO</div>
        </div>
        <div class="skillbar clearfix " data-percent="65%">
          <div class="skillbar-title"><span>APIs</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">INTERMEDIO</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title"><span>AJAX</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">INTERMEDIO</div>
        </div>
        <div class="skillbar clearfix " data-percent="55%">
          <div class="skillbar-title"><span>JSON</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">BÁSICO</div>
        </div>
        <div class="skillbar clearfix " data-percent="85%">
          <div class="skillbar-title"><span>GIT/GITHUB</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">INTERMEDIO</div>
        </div>
        <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title"><span>Cultura_AGILE</span></div>
          <div class="skillbar-bar blue-grey lighten-5"></div>
          <div class="skill-bar-percent">AVANZADO</div>
        </div>
      </div>
    </section>
    <!--seccion contacto responsive -->
    <footer class="center contacto">
      <span><a href="https://github.com/AndyGarnica" target="new_blank"><i class="fa fa-github fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      <span><a href="https://www.linkedin.com/in/elsa-andrea-garnica-reyes-854362146" target="new_blank"><i class="fa fa-linkedin fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      <span><a href="https://api.whatsapp.com/send?phone=5549692539" target="new_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="+52 1 55 49 69 25 39"><i class="fa fa-whatsapp fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      <span><a href="mailto: es.elsagarnica@gmail.com" target="new_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="es.elsagarnica@gmail.com"><i class="fa fa-envelope-o fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
    </footer>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
