<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andrea Garnica</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Sacramento|Clicker+Script|Poiret+One|Dancing+Script|Raleway">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="">
    <!-- seccion menu horizontal-->
    <section>
      <nav class="white">
        <div class="container">
          <div class="nav-wrapper">
            <!-- <a href="#!" class="brand-logo">A.G.</a> -->
            <a href="../index.html" class="left align brand-logo hide-on-med-only	hide-on-small-only"><i class="logo colorA">Elsa Garnica</i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#c62828">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="red-text darken-3" href="aboutMe.html">Acerca de mí</a></li>
              <li><a class="red-text darken-3" href="habilidades.html">Habilidades</a></li>
              <li><a class="red-text darken-3" href="proyectos.html">Proyectos</a></li>
              <!-- seccion menu mobile -->
            </ul>
            <ul class="side-nav text-red darken-3" id="mobile-demo">
              <li><a class="red-text" href="aboutMe.html">Acerca de mí</a></li>
              <li><a class="red-text" href="habilidades.html">Habilidades</a></li>
              <li><a class="red-text" href="proyectos.html">Proyectos</a></li>
            </ul>
            <a href="../index.html" class="right align brand-logo hide-on-large-only"><i class="logo colorA">Elsa Garnica</i></a>
          </div>
        </div>
      </nav>
    </section>
    <!--seccion proyectos responsive -->
    <section id="proyectos" class="center">
      <div class="row proyectos">
        <h2 class="s12 titulos colorA"> Proyectos </h2>
        <div class="col s12 m6 l4 card-pad">
          <div class="card contenedores">
            <div class="card-image">
              <img class="activator responsive-img" src="../img/experimenta.jpg">
            </div>
            <div class="card-content">
              <a class="card-title colorA">Experimenta</a>
              <div class="center">
                <h6 class="col s4 grey-text">UIKIT</h6>
                <h6 class="col s4 grey-text">JQuery</h6>
                <h6 class="col s4 grey-text">CSS3</h6>
              </div>
              <div class="">
                <p><a href="https://andygarnica.github.io/experimenta/" class="btn white col s6 red-text darken-3" target="new_blank">Proyecto</a></p>
                <p><a href="https://github.com/AndyGarnica/experimenta.git" class="btn white col s6 red-text darken-3" target="new_blank">Código</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 card-pad">
          <div class="card contenedores">
            <div class="card-image">
              <img class="activator responsive-img" src="../img/labcar.jpg">
            </div>
            <div class="card-content">
              <a class="card-title colorA">Lab Car</a>
              <div class="center">
                <h6 class="col s3 grey-text">Bootstrap</h6>
                <h6 class="col s3 grey-text">CSS3</h6>
                <h6 class="col s3 grey-text">Jquery</h6>
                <h6 class="col s3 grey-text">Responsive</h6>
              </div>
              <p><a href="https://andygarnica.github.io/labcar/" class="btn white col s6 red-text darken-3" target="new_blank">Proyecto</a></p>
              <p><a href="https://github.com/AndyGarnica/labcar.git" class="btn white col s6 red-text darken-3" target="new_blank">Código</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4 card-pad">
          <div class="card contenedores">
            <div class="card-image">
              <img class="activator responsive-img" src="../img/designGoogle.jpg">
            </div>
            <div class="card-content">
              <a class="card-title colorA">Design Google</a>
              <div class="center">
                <h6 class="col s12 grey-text">Sass</h6>
              </div>
              <p><a href="https://andygarnica.github.io/designGoogle/" class="btn white col s6 red-text darken-3" target="new_blank">Proyecto</a></p>
              <p><a href="https://github.com/AndyGarnica/designGoogle.git" class="btn white col s6 red-text darken-3" target="new_blank">Código</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4 card-pad">
          <div class="card contenedores">
            <div class="card-image">
              <img class="activator responsive-img" src="../img/appLove.jpg">
            </div>
            <div class="card-content">
              <a class="card-title colorA">App Love</a>
              <div class="center">
                <h6 class="col s12 grey-text">CSS3</h6>
              </div>
              <p><a href="https://andygarnica.github.io/appLove/" class="btn white col s6 red-text darken-3" target="new_blank">Proyecto</a></p>
              <p><a href="https://github.com/AndyGarnica/appLove.git" class="btn white col s6 red-text darken-3" target="new_blank">Código</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4 card-pad">
          <div class="card contenedores">
            <div class="card-image">
              <img class="activator responsive-img" src="../img/lyft.jpg">
            </div>
            <div class="card-content">
              <a class="card-title colorA">Lyft</a>
              <div class="center">
                <h6 class="col s12 grey-text">CSS3</h6>
              </div>
              <p><a href="https://andygarnica.github.io/lyfft/" class="btn white col s6 red-text darken-3" target="new_blank">Proyecto</a></p>
              <p><a href="https://github.com/AndyGarnica/lyfft.git" class="btn white col s6 red-text darken-3" target="new_blank">Código</a></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 xl4 card-pad">
          <div class="card contenedores">
            <div class="card-image">
              <img class="activator responsive-img" src="../img/agenda.jpg">
            </div>
            <div class="card-content">
              <a class="card-title colorA">Agenda</a>
              <div class="center">
                <h6 class="col s6 grey-text">Bootstrap</h6>
                <h6 class="col s6 grey-text">JQuery</h6>
              </div>
              <p><a href="https://andygarnica.github.io/agenda/" class="btn white col s6 red-text darken-3" target="new_blank">Proyecto</a></p>
              <p><a href="https://github.com/AndyGarnica/agenda.git" class="btn white col s6 red-text darken-3 " target="new_blank">Código</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--seccion contacto responsive -->
    <footer class="center contacto">
      <span><a href="https://github.com/AndyGarnica" target="new_blank"><i class="fa fa-github fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      <span><a href="https://www.linkedin.com/in/elsa-andrea-garnica-reyes-854362146" target="new_blank"><i class="fa fa-linkedin fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      <span><a href="https://api.whatsapp.com/send?phone=5549692539" target="new_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="+52 1 55 49 69 25 39"><i class="fa fa-whatsapp fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
      <span><a href="mailto: es.elsagarnica@gmail.com" target="new_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="es.elsagarnica@gmail.com"><i class="fa fa-envelope-o fa-3x fa-fw social" aria-hidden="true" style="color:#263238"></i></a></span>
    </footer>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/main.js"></script>
    </body>
  </html>
